.delete-container {
    min-height: auto;
    padding: 20px 20px 20px 20px;
    margin-top: 0;
  }
  
  .delete-title {
    color: #A55B4B;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 0;
  }
  
  .delete-form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(106, 13, 173, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .delete-input {
    border-color: #A55B4B;
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #A55B4B;
  }
  
  .delete-button {
    background-color:#A55B4B;
    border-color:#A55B4B;
    color: white;
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  /* Optional: Add hover effect for the button */
  .delete-button:hover {
    background-color: #DCA06D;
  }